<%- include('partials/admin-header', { title: t.adminUsers.title, page: 'users' }) %>
            <div class="toolbar">
                <div class="search-bar">
                    <i class="ph ph-magnifying-glass"></i>
                    <input type="text" id="searchInput" placeholder="<%= t.adminUsers.searchPlaceholder %>">
                
                </div>
                <button class="btn-primary" style="width: auto; margin:0;"><%= t.adminUsers.addNew %></button>
            </div>

            <section class="card">
                <table>
                    <thead>
                
                        <tr>
                            <th><%= t.common.name %></th>
                            <th><%= t.auth.pharmacyName %></th>
                            <th><%= t.common.email %></th>
       
                            <th><%= t.common.role %></th>
                            <th><%= t.adminUsers.joined %></th>
                            <th><%= t.common.actions %></th>
                       
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user => { %>
                        <tr id="row-<%= user._id %>">
    
                            <td>
                                <div class="user-info">
                                    <div class="avatar-sm"><%= user.name[0] %></div>
    
                                    <span><%= user.name %></span>
                                </div>
                            </td>
      
                            <td><%= user.pharmacy %></td>
                            <td><%= user.email %></td>
                            <td>
                  
                                <span class="badge <%= user.role === 'admin' ? 'approved' : 'pending' %>">
                                    <%= user.role %>
                                </span>
                           
                            </td>
                            <td><%= user.joined %></td>
                            <td>
                                <div class="actions">
        
                                    <button class="btn-icon cancel" title="<%= t.common.delete %>" onclick="deleteUser('<%= user._id%>')"><i class="ph ph-trash"></i></button>
                                </div>
                            </td>
    
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </section>
      
         <%- include('partials/admin-footer', { page: 'users' }) %>